@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html * {
  font-family: 'Montserrat', sans-serif !important;
}

/* Bootstrap tweaks */
.card-img-top {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.list-group-horizontal > .list-group-item {
  border: none;
}

#info-modal-img {
  width: 100%;
}

.table {
  margin-bottom: 0;
}

nav {
  margin-bottom: 24px;
  color: white;
  text-align: center;
}

#countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p#clock-label {
  margin: 0 !important;
}

p#demo {
  margin: 0 !important;
}

.card {
  border-width: 4px !important;
  border-radius: 10px !important;
}

.card-img-top {
  border-radius: 6px 6px 0 0 !important;
}

.btn-group > .btn-primary {
  border-radius: 0 0 5px 0 !important;
  border-width: 0 !important;
  flex-grow: 6 !important;
  margin: 0 !important;
}

.btn-group > .btn-secondary {
  border-radius: 0 0 0 5px !important;
  border-width: 0 !important;
  flex-grow: 5 !important;
}

td, th {
  border: 0 !important;
}

label {
  color: #6c757d;
}

.modal-footer {
  border: 0 !important;
}

.card-subtitle {
  font-style: italic;
}